---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---

<h1>Posts</h1>

<p> Placeholder example posts </p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
