---
layout: layouts/home.njk
permalink: /resources/
eleventyNavigation:
  key: Resources
  order: 3
---

<h1>Resources</h1>

<p> These are tech related resources that our team love. We think these might be useful for Indonesians who are interested to
  learn more about tech!</p>

<h2> Links </h2>

<ul>
  <li> <a href=https://roadmap.sh> roadmap.sh: steps to learn technologies  </a></li>
  <li> <a href=https://teachyourselfcs.com> Teach Yourself CS: CS fundamental resources for non CS Majors </a></li>
  <li> <a href=fast.ai> fast.ai: learn AI with a top-down approach </a></li>
  <li> <a href=hackernews.com> HackerNews: Y Combinator's Reddit like forum </a></li>
  <li> <a href=https://leetcode.com> Leetcode: practice SDE interview questions  </a></li>
  <li> <a href=acloudguru.com> A Cloud Guru: learn cloud technologies </a></li>
  <li> <a href=https://open.appacademy.io> App Academy's free bootcamp curriculum </a></li>
  <li> <a href=https://www.theodinproject.com> The Odin Project: open source full stack bootcamp curriculum </a></li>
  <li> <a href=https://missing.csail.mit.edu> The MIT Missing Semester Course: MIT course for students to learn stuff they should know but not taught formally </a></li>
  <li> <a href=https://github.com/donnemartin/system-design-primer> System Design Primer </a></li>
  <li> <a href=https://refactoring.guru> Refactoring Guru: website showing common design patterns </a></li>
  <li> <a href=https://github.com/jlevy/the-art-of-command-line> The Art of Command Line Github: learn stuff about using the command line </a></li>
  <li> <a href=https://github.com/bayandin/awesome-awesomeness> Awesome Awesomeness Github: awesome links to awesome stuff </a></li>
  <li> <a href=https://github.com/binhnguyennus/awesome-scalability> Awesome Scalability Github: link to resources about scalability </a></li>
  <li> <a href=https://github.com/cjbarber/ToolsOfTheTrade> Tools of The Trade Github: links to tech tools that are used out there </a></li>
  <li> <a href=https://developer.mozilla.org/en-US> MDN: still the best resource for most web stuff </a></li>
  <li> <a href=https://ohshitgit.com> Oh Shit Git: what to do when you mess up with Git </a></li>
</ul>

<h2> Books</h2>
<ul>
  <li> The Phoenix Project </li>
  <li> The DevOps Handbook </li>
  <li> Building Data Intensive Applications </li>
  <li> Algorithm Design Manual </li>
  <li> Structure and Interpretation of Computer Programs </li>
  <li> Element of Programming Interviews </li>
</ul>

<h2> Blog </h2>
<ul>
  <li> <a href=http://paulgraham.com> Paul Graham from Y Combinator </a></li>
  <li> <a href=https://patrickcollison.com> Patrick Collison from Stripe </a></li>
  <li> <a href=https://www.allthingsdistributed.com> All Things Distributed </a></li>
</ul>

<h2> Indonesian Content </h2>
<ul>
  <li> <a href=https://www.youtube.com/channel/UCkXmLjEr95LVtGuIm3l2dPg> Web Programming UNPAS </a></li>
  <li> <a href=https://deeptech.id> deeptech.id </a></li>
</ul>
